<header>
  <div>
    <h2>MY 20-YEAR OSCAR HELL PRESENTS&hellip;</h2>
    <p>The third annual prediction game for the Academy Awards. Choose who you think will win in each of the 24 main categories, to be announced at the 88th Academy Awards, on February 28.</p>
    <img src="/img/statuette.jpg" alt="Statuette">
  </div>
</header>