<div class="medium-10 medium-centered columns">
  <div class="small-8 columns">
    <div id="quote"></div>
    <div id="quotep"></div>
  </div>
  <div class="small-4 columns">
    <p class="version">{{ app }}-v{{ ver }} - {{ env }}</p>
    <a href="https://github.com/njmanton/hepburn">code</a>  
  </div>  
</div>


<script src="/js/main.js"></script>
<script src="/js/quotes.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script>
  $(document).ready(function() {
    $(document).foundation();
  })
</script>