<div id="quote"></div>
<div id="quotep"></div>

<a href="https://github.com/njmanton/hepburn">code</a>
<script src="/js/main.js"></script>
<script src="/js/quotes.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script>
  $(document).ready(function() {
    $(document).foundation();
  })
</script>