<!DOCTYPE html>
<html>
  {{>head }}
  <body>
    {{>header }}
    <div class="main row">
      {{{ body }}}
    </div>
    
    <footer class="row expanded">
      {{>footer }}
    </footer>
    
  </body>
</html>