@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

.imgfade {
  -webkit-filter: opacity(.33);
  filter: opacity(.33);
}

#pane {
    position: relative;
    display: block;
    width:;
  }

span.title {
  display: block;
}

.small-nom {
  padding: 0px;
  margin: 10px;
  //float: left;
  display: inline-block;
  height: 222px;
  width: 150px;
  border: 5px solid transparent;
  -webkit-filter: opacity(.33);
  filter: opacity(.33);
}

img {
  height: 100%;
  width: 100%;
}

.picked {
  border: 5px solid red;
  -webkit-filter: opacity(1);
  filter: opacity(1); 
}