/*@import url(https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css);*/
@import url(vendor/foundation.min.css);

html {
  font-size: 90%;
}

section {
  display: block;
}

.noms {
  z-index: 999;
}

.small-nom {
  display: inline-block;
}

.pts {
  float: right;
}

.category {
  margin: 0.7em;
  min-width: 172px; //214px; //13em;
  vertical-align: top;
  display: inline-block;
  cursor: pointer;
}


.cat-head {
  background-color: #333;
  color: #e1e1e1;
  font-weight: bold;
  padding: 0.3em;
}

.poster {
  border: 1px solid black;
}

.cat-foot {
  background-color: #333;
  color: #ddd;
  font-weight: bold;
  padding: 0.3em;
}

.pick-img, .small-nom > img {
  width: 171px;
  height: 254px;
}

.winner { font-weight: bold; }
.winner::before { content: '*' };